# Python NLP Text Model for Extracting Key Sentences Using TF-IDF Algorithm

### Importing necessary libraries

In [244]:
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import sent_tokenize
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
import string
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.translate.bleu_score import sentence_bleu

In [245]:
# Downloading necessary resources for NLTK
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

### Dataset Reading

In [246]:
# Reading the dataset into df dataframe
df = pd.read_csv('news.csv')
df.head()

,title,content,published_at,source,topic
0,BTS: RM is reminded of Bon Voyage as he travel...,"After reaching his hotel in the city, RM revea...",2022-07-30T07:00:00Z,2,13
1,RM recalls wondering if he 'made right decisio...,RM aka Kim Namjoon was the first member to joi...,2022-12-22T15:57:55Z,2,13
2,BTS: J-Hope and RM go bonkers at Billie Eilish...,"Billie Eilish's concert was held in Seoul, Sou...",2022-08-16T07:00:00Z,1,7
3,"BTS: J-Hope proudly states he raised Jungkook,...",BTS ARMY y'all would be missing the members a ...,2022-12-18T13:08:40Z,1,7
4,BTS: Jin aka Kim Seokjin takes us through the ...,BTS member Kim Seokjin aka Jin has the capacit...,2022-11-21T08:00:00Z,1,8

### Data Cleaning

In [247]:
# Dropping any rows with empty content
df.dropna(subset=['content'], inplace=True)

# Dropping duplicate entries
df.drop_duplicates(subset=['content'], inplace=True)

# Resetting index of the dataframe
df.reset_index(inplace=True, drop=True)

df.head()

,title,content,published_at,source,topic
0,BTS: RM is reminded of Bon Voyage as he travel...,"After reaching his hotel in the city, RM revea...",2022-07-30T07:00:00Z,2,13
1,RM recalls wondering if he 'made right decisio...,RM aka Kim Namjoon was the first member to joi...,2022-12-22T15:57:55Z,2,13
2,BTS: J-Hope and RM go bonkers at Billie Eilish...,"Billie Eilish's concert was held in Seoul, Sou...",2022-08-16T07:00:00Z,1,7
3,"BTS: J-Hope proudly states he raised Jungkook,...",BTS ARMY y'all would be missing the members a ...,2022-12-18T13:08:40Z,1,7
4,BTS: Jin aka Kim Seokjin takes us through the ...,BTS member Kim Seokjin aka Jin has the capacit...,2022-11-21T08:00:00Z,1,8

### Info about news.csv dataset

In [248]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         806 non-null    object
 1   content       806 non-null    object
 2   published_at  806 non-null    object
 3   source        806 non-null    int64
 4   topic         806 non-null    int64
dtypes: int64(2), object(3)
memory usage: 31.6+ KB

In [249]:
df.shape

(806, 5)

### Data Preprocessing

In [250]:
# Creating a set of stop words to remove from the text
stop_words = set(stopwords.words('english'))

# Creating instances of the WordNetLemmatizer and PorterStemmer() for lemmatization and stemming
lemmatizer = WordNetLemmatizer()
stemmer=PorterStemmer()

# Function to preprocess text
def preprocess_sent(sent):
    sent = re.sub('[^a-zA-Z]',' ',sent) # Removing special characters and digits

    sent = re.sub('\s+', ' ', sent).strip() # Removing extra whitespace

    sent = sent.lower() # Converting to lowercase

    # Tokenizing the text into words
    words = word_tokenize(sent)

    # Removing stop words from the text
    words = [word for word in words if word not in stop_words]

    # Stemming
    words = [stemmer.stem(word) for word in words]

    # Lemmatization
    words = [lemmatizer.lemmatize(word) for word in words]

    sent = ' '.join(words)
    
    return sent

# Applying the preprocessing function to the 'content' column of the dataframe
df['cleaned_content'] = df['content'].apply(preprocess_sent)

# Displaying preprocessed dataframe
df.head()

,title,content,published_at,source,topic,cleaned_content
0,BTS: RM is reminded of Bon Voyage as he travel...,"After reaching his hotel in the city, RM revea...",2022-07-30T07:00:00Z,2,13,reach hotel citi rm reveal stay would four day...
1,RM recalls wondering if he 'made right decisio...,RM aka Kim Namjoon was the first member to joi...,2022-12-22T15:57:55Z,2,13,rm aka kim namjoon first member join bt group ...
2,BTS: J-Hope and RM go bonkers at Billie Eilish...,"Billie Eilish's concert was held in Seoul, Sou...",2022-08-16T07:00:00Z,1,7,billi eilish concert held seoul south korea at...
3,"BTS: J-Hope proudly states he raised Jungkook,...",BTS ARMY y'all would be missing the members a ...,2022-12-18T13:08:40Z,1,7,bt armi would miss member lot right well one b...
4,BTS: Jin aka Kim Seokjin takes us through the ...,BTS member Kim Seokjin aka Jin has the capacit...,2022-11-21T08:00:00Z,1,8,bt member kim seokjin aka jin capac creat dive...

### Training and testing model distribution of dataset

### (test-train split of 10-90)

In [251]:
from sklearn.model_selection import train_test_split

# Spliting the data into train and test sets
# test_size=0.1 (10), train_size=0.9 (90)
train_data, test_data = train_test_split(df, test_size=0.1, random_state=23)

print('Number of rows in the test set:', len(test_data))
print('Number of rows in the train set:', len(train_data))

Number of rows in the test set: 81
Number of rows in the train set: 725

### Test Data

In [252]:
test_data.head()

,title,content,published_at,source,topic,cleaned_content
419,"The Godfather turns 50, The Offer trailer impr...",The world of Hollywood has been very exciting ...,2022-03-24T07:00:00Z,1,7,world hollywood excit today bring wrap trend h...
203,"BTS' V, his Wooga Squad friends take walk on b...",The video started with a view of the sea durin...,2022-07-09T07:00:00Z,2,14,video start view sea winter second long clip h...
478,BTS' Jungkook lashes out at a troll who asked ...,BTS Jungkook gave a hater the taste of his own...,2022-03-31T07:00:00Z,1,10,bt jungkook gave hater tast medicin onlin user...
112,BTS: Jungkook makes STAGGERING record on Spoti...,BTS' Golden Maknae Jungkook has has quite the ...,2022-12-29T10:06:31Z,1,1,bt golden makna jungkook quit year solo stay a...
576,NCT 127 announces repackaged album Ay-Yo: Here...,SM Entertainment recently confirmed the comeba...,2023-01-06T14:06:59Z,3,9,sm entertain recent confirm comeback date nct ...

### Train Data

In [253]:
train_data.head()

,title,content,published_at,source,topic,cleaned_content
359,BTS features on KBC 14: Amitabh Bachchan asks ...,"The options were--A. South Korea, B. Iran, C. ...",2022-10-13T07:00:00Z,2,11,option south korea b iran c sri lanka mongolia...
375,"BTS’ Jungkook, ASTRO’s Cha Eun Woo, GOT7’s Yug...",When it comes to becoming an avid listener of ...,2022-06-20T07:00:00Z,3,16,come becom avid listen k pop term inadvert end...
552,"Suchwita Ep 2 Highlights: BTS’ SUGA, Shin Dong...",BTS member SUGA has returned to our screens wi...,2023-01-05T17:28:13Z,3,11,bt member suga return screen fun insight chat ...
226,"BTS Proof Live: Snoop Dogg, Charlie Puth, HER,...",BTS' fame is such that there is no doubt that ...,2022-06-07T07:00:00Z,1,1,bt fame doubt k pop band far one popular music...
676,Pathaan meets BTS: Shah Rukh Khan-Deepika Padu...,BTS and their choreographies are like sorcery....,2023-01-09T11:31:02Z,1,1,bt choreographi like sorceri fit everi bollywo...

### List of indexes of train data

In [254]:
# Making list of indexes of train data
tdlist=list(train_data.index.values)
print(tdlist)

[359, 375, 552, 226, 676, 463, 725, 229, 522, 151, 270, 204, 404, 759, 589, 50, 562, 21, 597, 581, 300, 263, 25, 506, 344, 554, 346, 449, 261, 390, 765, 651, 63, 457, 79, 586, 357, 65, 234, 604, 668, 681, 364, 677, 746, 99, 45, 727, 366, 330, 755, 475, 734, 428, 379, 545, 652, 251, 127, 448, 118, 66, 343, 670, 174, 264, 420, 674, 721, 493, 396, 415, 91, 114, 569, 146, 213, 184, 412, 275, 166, 688, 394, 96, 155, 73, 563, 631, 500, 491, 431, 433, 730, 86, 140, 53, 188, 530, 51, 508, 572, 559, 584, 130, 666, 314, 673, 387, 301, 14, 542, 381, 208, 802, 273, 611, 427, 176, 293, 778, 743, 435, 131, 502, 489, 771, 793, 148, 152, 124, 64, 58, 775, 133, 260, 373, 659, 398, 319, 372, 48, 633, 682, 536, 752, 115, 209, 701, 769, 202, 305, 621, 90, 655, 794, 481, 568, 525, 335, 424, 556, 307, 30, 135, 341, 707, 183, 236, 165, 280, 766, 271, 787, 656, 598, 362, 639, 411, 302, 689, 782, 512, 13, 385, 799, 159, 349, 649, 409, 620, 313, 222, 729, 780, 624, 46, 164, 436, 326, 675, 378, 16, 704, 474, 89, 797, 784, 235, 185, 54, 550, 484, 190, 614, 618, 47, 546, 657, 402, 322, 520, 105, 443, 406, 749, 52, 555, 298, 232, 97, 308, 41, 547, 421, 558, 756, 636, 111, 418, 36, 67, 17, 98, 87, 441, 650, 606, 777, 593, 206, 267, 82, 37, 744, 254, 352, 61, 101, 486, 447, 687, 751, 720, 477, 628, 667, 507, 120, 181, 399, 1, 603, 414, 660, 274, 374, 686, 215, 287, 126, 805, 296, 145, 575, 76, 407, 345, 328, 172, 470, 83, 34, 108, 20, 479, 44, 561, 617, 233, 750, 716, 94, 699, 27, 432, 476, 69, 587, 281, 458, 11, 571, 789, 626, 535, 339, 557, 125, 179, 644, 498, 175, 705, 156, 468, 691, 88, 483, 494, 492, 695, 519, 607, 388, 516, 119, 570, 129, 294, 622, 289, 250, 785, 225, 664, 662, 350, 122, 123, 238, 528, 627, 585, 702, 781, 531, 514, 731, 18, 210, 703, 323, 258, 272, 795, 538, 632, 445, 694, 539, 361, 761, 218, 38, 596, 391, 712, 646, 160, 735, 3, 33, 338, 315, 367, 110, 772, 217, 100, 168, 292, 482, 613, 684, 333, 365, 567, 325, 332, 413, 578, 790, 635, 629, 231, 509, 768, 282, 450, 594, 767, 321, 745, 182, 351, 505, 227, 331, 193, 5, 736, 92, 363, 397, 2, 141, 312, 679, 708, 600, 466, 311, 786, 369, 792, 28, 715, 43, 609, 177, 774, 8, 173, 416, 451, 625, 286, 776, 384, 10, 619, 444, 77, 285, 495, 243, 616, 510, 189, 75, 84, 310, 221, 574, 803, 337, 320, 400, 205, 266, 540, 128, 199, 348, 72, 132, 612, 109, 718, 383, 711, 455, 501, 239, 144, 453, 137, 200, 645, 634, 573, 511, 685, 437, 377, 496, 796, 471, 186, 55, 353, 252, 216, 382, 783, 303, 722, 327, 262, 163, 393, 380, 760, 490, 579, 800, 60, 608, 212, 452, 376, 81, 342, 485, 116, 588, 504, 405, 764, 515, 440, 610, 240, 566, 648, 169, 770, 113, 653, 788, 719, 643, 647, 180, 717, 669, 370, 739, 121, 733, 529, 456, 658, 532, 697, 242, 487, 355, 220, 592, 732, 724, 102, 245, 464, 149, 9, 638, 318, 791, 259, 246, 737, 85, 23, 713, 70, 255, 599, 340, 230, 191, 80, 565, 78, 641, 601, 104, 170, 278, 290, 386, 317, 527, 288, 773, 700, 642, 801, 198, 241, 62, 171, 623, 304, 762, 265, 358, 7, 389, 804, 728, 473, 438, 472, 224, 499, 395, 219, 256, 162, 223, 798, 360, 779, 306, 753, 605, 4, 758, 42, 106, 279, 291, 693, 726, 465, 295, 425, 549, 741, 553, 513, 523, 356, 672, 446, 469, 136, 740, 150, 68, 754, 277, 747, 426, 247, 71, 714, 299, 244, 249, 283, 439, 582, 336, 467, 590, 757, 142, 544, 354, 32, 518, 0, 462, 543, 678, 534, 316, 269, 56, 480, 35, 637, 194, 537, 630, 698, 723, 103, 214, 15, 683, 577, 548, 551, 187, 417, 403, 57, 591, 297, 560, 533, 12, 192, 709, 459, 706, 49, 524, 429, 6, 665, 602, 39, 347, 460, 237, 31, 488, 40, 742, 595]

### Vectorization using TF-IDF (Term Frequency-Inverse Document Frequency)

In [255]:
# Importing TfidfVectorizer from sklearn
from sklearn.feature_extraction.text import TfidfVectorizer

# Creating instance of TfidfVectorizer class
vectorizer = TfidfVectorizer()

# Vectorizing cleaned content of train data using fit_transform()
train_tfidf = vectorizer.fit_transform(train_data['cleaned_content'])

### Ranking of Sentences in Train Data using TF-IDF scores

In [256]:
from collections import defaultdict
top_n=5    # Top 5 sentences

# Ranking the sentences in each news article based on their TF-IDF scores
train_tfidf_ranked_indices = defaultdict(list)

# Traversing through each news article in train data
for i in range(train_tfidf.shape[0]):

    # Retrieving the non-zero feature indices (i.e., the indices of the words that appear in the article) from the corresponding row of the train_tfidf matrix using the nonzero() method. 
    feature_index = train_tfidf[i,:].nonzero()[1]

    # Creating a list of tuples where the first element of each tuple is a feature index and the second element is the corresponding TF-IDF score for that feature index in the current article.
    # Using zip()
    tfidf_scores = zip(feature_index, [train_tfidf[i, x] for x in feature_index])

    # Sorting tfidf_scores list in decreasing order
    sorted_tfidf_scores = sorted(tfidf_scores, key=lambda x: x[1], reverse=True)

    # Retrieving the first element of first n tuples in sorted list
    top_n_indices = [sorted_tfidf_scores[i][0] for i in range(top_n)]

    # Adding to train_tfidf_ranked_indices
    train_tfidf_ranked_indices[i] = top_n_indices
    
print("train tfidf ranked indices= ")
train_tfidf_ranked_indices

train tfidf ranked indices=

defaultdict(list,
            {0: [322, 1630, 5561, 3906, 5515],
             1: [4650, 5942, 7803, 3821, 8056],
             2: [6626, 4742, 8830, 7541, 2252],
             3: [3326, 1019, 7301, 2730, 2208],
             4: [5722, 876, 725, 6277, 6637],
             5: [3910, 1485, 5258, 6008, 4381],
             6: [1763, 4182, 3664, 8515, 6650],
             7: [4381, 5838, 4119, 6246, 7678],
             8: [6210, 1515, 806, 6823, 6459],
             9: [2978, 604, 2930, 6886, 931],
             10: [8663, 2649, 2867, 7854, 6618],
             11: [4691, 6740, 833, 6672, 2836],
             12: [4692, 6111, 1063, 1019, 4906],
             13: [8418, 3664, 2938, 4809, 1448],
             14: [7086, 4201, 1093, 8714, 6561],
             15: [790, 1112, 6059, 3152, 4165],
             16: [7678, 5844, 4999, 1697, 5531],
             17: [4264, 3428, 790, 7291, 3664],
             18: [2892, 5181, 4575, 1662, 193],
             19: [4505, 4129, 2516, 3904, 5088],
             20: [769, 755, 1500, 5258, 6051],
             21: [2785, 803, 6728, 5304, 475],
             22: [8786, 1150, 5844, 3961, 4119],
             23: [7694, 4159, 5972, 8730, 6977],
             24: [8091, 8316, 1782, 4264, 6362],
             25: [5957, 5286, 6626, 3309, 6551],
             26: [8002, 1575, 3465, 9, 376],
             27: [806, 5970, 310, 7817, 3969],
             28: [4180, 4384, 6106, 8343, 4164],
             29: [2517, 6626, 4742, 8855, 1019],
             30: [2411, 8701, 3704, 2932, 1509],
             31: [7842, 7228, 8471, 4624, 1273],
             32: [5793, 7416, 5258, 4012, 4923],
             33: [5286, 3910, 1755, 5133, 6561],
             34: [7738, 5582, 2935, 6906, 3016],
             35: [3910, 5258, 194, 4488, 123],
             36: [3789, 6682, 6864, 1607, 4165],
             37: [67, 1657, 5883, 2432, 6561],
             38: [4207, 1988, 7515, 8023, 4321],
             39: [4264, 6932, 3665, 1019, 88],
             40: [8021, 5029, 2479, 5383, 1950],
             41: [1892, 2267, 6233, 5286, 806],
             42: [8418, 2254, 6886, 2078, 2019],
             43: [6233, 2239, 4569, 4264, 5286],
             44: [5937, 3161, 7768, 4496, 3631],
             45: [4353, 2239, 8364, 8286, 4871],
             46: [7939, 5578, 1008, 8510, 4361],
             47: [4264, 790, 4165, 5370, 1112],
             48: [8098, 7360, 6367, 7414, 3704],
             49: [806, 1515, 4660, 1956, 3161],
             50: [1298, 929, 3664, 4062, 411],
             51: [6907, 8350, 3424, 1019, 1160],
             52: [715, 814, 6101, 8547, 4403],
             53: [3345, 4607, 1989, 6925, 7383],
             54: [5286, 4096, 194, 6626, 7915],
             55: [6212, 2469, 6059, 7831, 1968],
             56: [6561, 182, 931, 5133, 5258],
             57: [2836, 1001, 4280, 2337, 6022],
             58: [6067, 4264, 7822, 431, 4737],
             59: [6626, 520, 8592, 6142, 4563],
             60: [5972, 3326, 284, 1257, 5634],
             61: [5258, 6594, 7842, 182, 4381],
             62: [2289, 6866, 3493, 5773, 4381],
             63: [5995, 7770, 6234, 1019, 1216],
             64: [4600, 5957, 2220, 1541, 1849],
             65: [843, 5505, 8355, 194, 6660],
             66: [4606, 5773, 3258, 3664, 1019],
             67: [6626, 5942, 4742, 8635, 669],
             68: [6626, 4742, 1469, 2219, 6895],
             69: [194, 4253, 6995, 3233, 3664],
             70: [8055, 1315, 2517, 6626, 2264],
             71: [6356, 3258, 5286, 790, 5032],
             72: [4053, 929, 3664, 4062, 5659],
             73: [3156, 5251, 6042, 3411, 4594],
             74: [5282, 5050, 3842, 7980, 7982],
             75: [6161, 8185, 4191, 6972, 7674],
             76: [5512, 7678, 4381, 6584, 8566],
             77: [3664, 1862, 7297, 6083, 4159],
             78: [5715, 4692, 4461, 4906, 194],
             79: [1197, 8598, 3452, 4833, 665],
             80: [5258, 790, 7287, 4669, 6561],
             81: [4165, 3664, 5970, 2427, 1529],
             82: [5286, 4051, 1789, 8669, 6280],
             83: [3161, 2267, 2742, 4376, 5084],
             84: [5888, 2662, 1108, 6843, 1801],
             85: [5940, 429, 326, 1737, 6474],
             86: [1495, 3958, 883, 2311, 5256],
             87: [7738, 7678, 4999, 4381, 7693],
             88: [7566, 8650, 3360, 5576, 4159],
             89: [8659, 6438, 4727, 3345, 6326],
             90: [4742, 6626, 7951, 3185, 5957],
             91: [6558, 5973, 1248, 1575, 1581],
             92: [5556, 598, 1268, 4607, 7416],
             93: [2409, 8570, 158, 8343, 5859],
             94: [2413, 1849, 1329, 4695, 1850],
             95: [725, 6277, 6637, 6922, 4363],
             96: [1061, 7967, 4607, 6362, 3789],
             97: [5290, 2783, 1464, 728, 5288],
             98: [4165, 5844, 4228, 1987, 5966],
             99: [7757, 588, 7891, 1672, 6561],
             100: [5029, 4165, 1130, 3137, 1019],
             101: [4264, 549, 6111, 8695, 3428],
             102: [156, 1826, 5085, 5216, 5441],
             103: [1129, 4180, 806, 5859, 911],
             104: [2517, 3084, 6644, 5898, 931],
             105: [5258, 4567, 4832, 6561, 4399],
             106: [2107, 8663, 4369, 2867, 3296],
             107: [5843, 6698, 5146, 1427, 5286],
             108: [7842, 448, 8501, 2620, 2760],
             109: [520, 6386, 4165, 3664, 6682],
             110: [806, 6626, 4660, 5957, 520],
             111: [6626, 1298, 2656, 5286, 7817],
             112: [2157, 500, 8002, 5166, 8671],
             113: [5148, 7236, 5441, 1298, 4857],
             114: [790, 4431, 88, 3904, 5567],
             115: [346, 7434, 5006, 6426, 5803],
             116: [3664, 929, 7980, 4841, 6960],
             117: [3752, 3526, 1785, 5029, 5054],
             118: [6768, 3254, 7768, 931, 4264],
             119: [4466, 4318, 5995, 7770, 7771],
             120: [6626, 4246, 8828, 6643, 7698],
             121: [5975, 571, 7022, 6983, 4785],
             122: [8784, 7541, 5035, 182, 7378],
             123: [5391, 728, 5188, 8730, 1197],
             124: [194, 773, 1298, 3910, 1913],
             125: [7694, 4159, 8364, 7236, 7980],
             126: [5286, 520, 4641, 8651, 7395],
             127: [715, 1810, 8425, 3278, 1112],
             128: [806, 1515, 194, 8626, 7967],
             129: [5974, 1197, 2517, 8771, 7752],
             130: [1295, 5258, 5792, 7186, 6179],
             131: [4020, 1084, 182, 2662, 412],
             132: [806, 7982, 2411, 8701, 4098],
             133: [7471, 4165, 2731, 4567, 367],
             134: [6208, 8088, 4264, 6447, 431],
             135: [4253, 7416, 4371, 1477, 7472],
             136: [177, 1021, 8099, 4774, 8085],
             137: [5286, 7502, 194, 4445, 81],
             138: [1476, 2286, 7546, 4217, 5575],
             139: [2793, 7472, 4371, 6359, 2157],
             140: [790, 4159, 3428, 7554, 6932],
             141: [2812, 4695, 4253, 3488, 5773],
             142: [4707, 7646, 4159, 3896, 5826],
             143: [6892, 5029, 148, 6891, 7213],
             144: [5391, 3827, 520, 806, 1197],
             145: [7345, 4165, 3290, 4264, 1393],
             146: [167, 487, 7817, 2153, 814],
             147: [4607, 598, 237, 1268, 8548],
             148: [6626, 4742, 84, 3754, 81],
             149: [7774, 6644, 2517, 2011, 1461],
             150: [7810, 6208, 5739, 4439, 6147],
             151: [2239, 2004, 8459, 3904, 189],
             152: [4981, 4159, 1377, 8204, 2427],
             153: [7738, 4890, 7785, 8098, 7360],
             154: [1082, 4788, 1111, 1575, 4159],
             155: [8784, 8417, 4873, 5035, 8515],
             156: [7471, 1957, 4390, 6019, 4165],
             157: [5690, 3336, 856, 5819, 4660],
             158: [7186, 2165, 1667, 1019, 376],
             159: [4394, 1854, 1785, 2644, 3934],
             160: [1268, 598, 208, 3016, 6088],
             161: [6171, 2735, 5773, 7378, 5984],
             162: [4381, 7310, 520, 7678, 1042],
             163: [6143, 6561, 6997, 4164, 3910],
             164: [5391, 3258, 1994, 6013, 5962],
             165: [4873, 6682, 4159, 3664, 5234],
             166: [7228, 4668, 7842, 6299, 8471],
             167: [3592, 321, 8374, 7058, 6933],
             168: [5302, 8568, 8510, 8784, 5113],
             169: [5512, 6682, 6447, 431, 2735],
             170: [2423, 6907, 6626, 7437, 5957],
             171: [1737, 3465, 429, 326, 757],
             172: [194, 7219, 2786, 4159, 4885],
             173: [1437, 7049, 7702, 1019, 4865],
             174: [1469, 806, 5286, 6626, 1892],
             175: [6626, 2517, 6644, 4742, 1019],
             176: [5391, 1197, 5873, 729, 728],
             177: [3793, 4934, 5453, 7472, 3946],
             178: [5844, 1335, 6561, 5258, 3411],
             179: [4059, 2052, 7409, 8744, 1019],
             180: [6626, 5819, 4586, 8786, 1685],
             181: [5391, 5286, 7817, 1197, 5819],
             182: [4473, 4196, 3664, 549, 8374],
             183: [773, 1298, 7817, 7521, 555],
             184: [2793, 7472, 4607, 4371, 308],
             185: [8514, 7541, 4889, 8428, 1260],
             186: [3614, 400, 929, 4695, 3990],
             187: [1876, 1364, 6070, 6528, 4876],
             188: [1082, 5286, 2676, 2661, 2478],
             189: [1789, 4264, 2824, 8666, 6041],
             190: [2738, 376, 4819, 3228, 1575],
             191: [520, 7920, 7310, 247, 593],
             192: [6790, 2836, 1082, 5183, 3904],
             193: [4403, 4468, 4939, 299, 1477],
             194: [5844, 3614, 7676, 3969, 182],
             195: [520, 2419, 7822, 1082, 417],
             196: [6142, 7541, 5992, 1368, 4537],
             197: [6866, 5029, 182, 4381, 4165],
             198: [7822, 6682, 4264, 1112, 790],
             199: [4638, 6567, 3691, 5234, 7975],
             200: [6626, 4742, 2592, 4206, 3354],
             201: [3673, 4260, 520, 6260, 194],
             202: [1529, 5844, 1951, 4893, 7678],
             203: [485, 5970, 2639, 7219, 318],
             204: [1019, 1575, 2861, 3694, 3576],
             205: [4264, 8436, 5032, 7817, 5286],
             206: [4159, 194, 7694, 7219, 6408],
             207: [5690, 2758, 2867, 1226, 887],
             208: [7738, 2850, 5410, 3902, 974],
             209: [3379, 7738, 8525, 3176, 7541],
             210: [5576, 2225, 4159, 4115, 843],
             211: [6626, 7694, 760, 4742, 5286],
             212: [352, 1737, 4159, 3465, 429],
             213: [5876, 941, 6233, 4165, 5286],
             214: [520, 3673, 7634, 931, 100],
             215: [756, 2676, 8035, 5066, 1082],
             216: [8595, 3580, 8678, 7314, 8520],
             217: [5816, 1117, 5998, 6547, 1684],
             218: [8418, 7322, 2937, 7731, 7712],
             219: [5010, 5799, 2731, 3664, 4182],
             220: [2198, 4647, 3426, 4159, 3400],
             221: [6097, 5258, 3289, 4874, 4567],
             222: [4778, 4349, 2987, 4945, 3337],
             223: [8428, 4159, 8650, 7566, 3360],
             224: [7694, 6626, 760, 7827, 8364],
             225: [6142, 7541, 8784, 3958, 5006],
             226: [1273, 782, 6095, 376, 2938],
             227: [8742, 4581, 6790, 1918, 4308],
             228: [4264, 431, 6682, 2735, 6447],
             229: [5054, 3855, 7780, 5242, 7070],
             230: [5838, 2177, 8017, 5258, 4547],
             231: [3626, 816, 7120, 3723, 8355],
             232: [8752, 4119, 5844, 2345, 6643],
             233: [2797, 3022, 1575, 6682, 4264],
             234: [4165, 8392, 3156, 81, 5251],
             235: [6233, 8754, 5286, 7533, 6961],
             236: [5085, 6561, 4462, 6447, 5576],
             237: [4166, 584, 1575, 790, 3625],
             238: [6644, 2517, 1019, 487, 311],
             239: [6644, 1019, 8374, 1262, 7708],
             240: [7854, 4874, 6751, 5258, 2551],
             241: [5963, 5029, 4165, 6892, 4292],
             242: [2112, 7059, 6886, 2114, 2160],
             243: [3397, 806, 3161, 5539, 5773],
             244: [5286, 4053, 8428, 6626, 8426],
             245: [5077, 1904, 8374, 1487, 3084],
             246: [5567, 3047, 8068, 790, 2607],
             247: [6626, 6644, 1369, 7369, 5345],
             248: [8428, 4220, 8425, 4662, 458],
             249: [1951, 7459, 5819, 6636, 6104],
             250: [806, 8420, 6175, 520, 8275],
             251: [5478, 6682, 8727, 3312, 5441],
             252: [6841, 7678, 851, 5844, 6973],
             253: [194, 773, 6561, 1298, 6280],
             254: [5986, 5492, 5988, 4165, 487],
             255: [7929, 1014, 3152, 6864, 790],
             256: [1445, 7340, 324, 4264, 189],
             257: [1592, 7738, 4333, 2606, 5477],
             258: [7743, 3361, 5736, 3123, 520],
             259: [806, 5188, 3161, 8420, 3309],
             260: [1260, 8514, 2764, 5032, 156],
             261: [5286, 3827, 520, 4051, 5391],
             262: [4676, 3664, 7871, 4253, 194],
             263: [5282, 6078, 2793, 7472, 4371],
             264: [2512, 520, 5286, 8010, 8847],
             265: [854, 4320, 5286, 7466, 1960],
             266: [588, 7891, 240, 5439, 6911],
             267: [1295, 4264, 6539, 4584, 7497],
             268: [411, 3111, 541, 0, 3904],
             269: [1377, 5576, 790, 5286, 7236],
             270: [5497, 6561, 1356, 5218, 3663],
             271: [2496, 5286, 1541, 4485, 7146],
             272: [6709, 4607, 4624, 1467, 3904],
             273: [7858, 1906, 4159, 7678, 2607],
             274: [8418, 5258, 3592, 182, 4381],
             275: [1268, 598, 7603, 7472, 7120],
             276: [2611, 2241, 1461, 5838, 3949],
             277: [4119, 7678, 5838, 4381, 214],
             278: [6932, 6841, 5844, 3969, 8374],
             279: [2517, 6644, 7774, 322, 2011],
             280: [555, 1916, 715, 814, 8281],
             281: [1416, 4873, 6561, 1975, 4874],
             282: [5198, 3379, 7951, 2682, 4264],
             283: [4835, 6294, 3906, 5252, 5787],
             284: [6907, 1542, 1543, 8350, 2512],
             285: [5286, 6626, 1849, 4742, 6901],
             286: [6892, 429, 1907, 224, 8730],
             287: [4165, 1644, 2318, 1374, 4579],
             288: [7678, 1361, 4727, 7022, 7065],
             289: [2289, 182, 2735, 4159, 8730],
             290: [1571, 1284, 4159, 3806, 2620],
             291: [4821, 1552, 5970, 1936, 1738],
             292: [8784, 5035, 8372, 3128, 5838],
             293: [4823, 488, 4264, 5367, 6189],
             294: [2810, 4695, 5773, 4526, 5370],
             295: [779, 3786, 2836, 7888, 1591],
             296: [5677, 6215, 2629, 5709, 1213],
             297: [997, 4338, 1231, 7236, 1916],
             298: [4578, 803, 3336, 856, 2867],
             299: [6233, 7991, 5029, 6626, 7541],
             300: [2061, 1469, 2062, 6165, 2204],
             301: [6888, 4165, 3411, 4212, 8669],
             302: [7341, 411, 5085, 3673, 7790],
             303: [4107, 5760, 8548, 3741, 3498],
             304: [5286, 6088, 5085, 8658, 6626],
             305: [553, 7290, 1850, 3664, 6309],
             306: [419, 8308, 5964, 287, 7678],
             307: [7692, 8331, 4483, 5004, 1849],
             308: [788, 5252, 4661, 7940, 2225],
             309: [715, 814, 555, 1916, 2165],
             310: [8655, 451, 4165, 7063, 4692],
             311: [2479, 6448, 6626, 4165, 5029],
             312: [7472, 3793, 4371, 4064, 3717],
             313: [4876, 1374, 451, 7018, 4204],
             314: [5131, 7784, 5258, 8405, 1048],
             315: [6607, 7810, 806, 1707, 6359],
             316: [6626, 5877, 4618, 3084, 4742],
             317: [1182, 8389, 8486, 6022, 7723],
             318: [2479, 5029, 4165, 4669, 8431],
             319: [6079, 6864, 4963, 8323, 5970],
             320: [4119, 4115, 4040, 1872, 1159],
             321: [5847, 4656, 4264, 1575, 7156],
             322: [412, 5258, 5213, 3161, 625],
             323: [7533, 7757, 2252, 7541, 2257],
             324: [5286, 6239, 1274, 7236, 3400],
             325: [1298, 7341, 7992, 451, 7817],
             326: [7678, 8543, 1019, 5211, 1697],
             327: [3400, 7472, 4371, 7097, 8425],
             328: [6626, 4742, 6408, 6561, 2832],
             329: [5286, 6221, 3939, 6626, 1168],
             330: [6626, 7694, 4742, 7827, 8364],
             331: [5417, 7120, 4159, 8486, 5183],
             332: [400, 6841, 2883, 616, 8005],
             333: [4165, 7991, 5838, 6866, 8262],
             334: [8397, 6152, 8098, 7360, 6367],
             335: [1820, 8132, 4159, 7933, 4368],
             336: [5282, 3842, 1571, 2544, 5050],
             337: [6030, 806, 4381, 238, 5957],
             338: [2930, 4159, 4165, 5970, 5819],
             339: [2213, 7212, 7951, 7236, 773],
             340: [6679, 2605, 8786, 3664, 5773],
             341: [925, 5505, 175, 5792, 318],
             342: [2071, 5690, 2758, 5826, 4784],
             343: [4087, 6393, 1752, 4528, 6831],
             344: [5029, 6892, 5054, 2479, 2651],
             345: [6866, 182, 5029, 4165, 4381],
             346: [6681, 6839, 993, 6694, 515],
             347: [6111, 1951, 595, 8760, 194],
             348: [4660, 803, 5690, 1226, 8020],
             349: [8146, 6682, 4264, 1092, 376],
             350: [5029, 7991, 6373, 4165, 7593],
             351: [4119, 4381, 806, 8572, 6643],
             352: [4876, 1374, 451, 4165, 1487],
             353: [8470, 4065, 6738, 6546, 1489],
             354: [7990, 7472, 4371, 1515, 311],
             355: [2827, 6626, 3809, 6211, 3583],
             356: [806, 1515, 8017, 1635, 828],
             357: [5258, 3910, 182, 7626, 6561],
             358: [5821, 8316, 4264, 2050, 5819],
             359: [5838, 640, 5258, 182, 4567],
             360: [4707, 6561, 2413, 6880, 3239],
             361: [6892, 2651, 224, 4963, 5694],
             362: [4165, 5029, 6067, 6892, 764],
             363: [790, 2181, 5567, 2254, 1492],
             364: [520, 7707, 7378, 3309, 4651],
             365: [4829, 520, 8773, 417, 2175],
             366: [4607, 7541, 4307, 6742, 3964],
             367: [775, 5970, 6561, 238, 3201],
             368: [6594, 8309, 4727, 1019, 5704],
             369: [5286, 773, 4902, 7951, 417],
             370: [6101, 7219, 8661, 6408, 1629],
             371: [7678, 6448, 1103, 400, 4381],
             372: [1008, 2758, 1092, 7122, 112],
             373: [6860, 8791, 2836, 4686, 4401],
             374: [1820, 1082, 4159, 6829, 255],
             375: [6561, 674, 6626, 4742, 192],
             376: [4600, 809, 5957, 486, 3072],
             377: [3161, 6626, 4742, 4096, 5345],
             378: [6868, 4040, 3084, 400, 7994],
             379: [6070, 3134, 4312, 1088, 8078],
             380: [3664, 2652, 3614, 5525, 4097],
             381: [82, 4587, 7858, 1936, 4821],
             382: [8730, 3428, 3741, 4940, 5338],
             383: [6460, 1141, 3664, 3570, 661],
             384: [4607, 5792, 4968, 156, 2620],
             385: [4661, 3411, 2699, 1145, 7749],
             386: [1732, 8364, 4159, 7694, 7236],
             387: [5066, 6837, 933, 5673, 6841],
             388: [7541, 208, 1575, 790, 6447],
             389: [595, 4899, 3309, 1019, 2068],
             390: [7738, 4669, 6682, 6111, 3196],
             391: [6892, 5029, 224, 4955, 6891],
             392: [4308, 2186, 84, 3610, 1001],
             393: [2754, 6866, 871, 4965, 182],
             394: [393, 8331, 4483, 3259, 4485],
             395: [199, 565, 4219, 6626, 3156],
             396: [3904, 451, 389, 5624, 3167],
             397: [7219, 5348, 1487, 2383, 451],
             398: [3664, 7378, 411, 671, 4695],
             399: [4607, 1522, 599, 3129, 8051],
             400: [3215, 6626, 3772, 4742, 3610],
             401: [5654, 7967, 3904, 1693, 4661],
             402: [6628, 6704, 931, 6171, 8671],
             403: [7472, 4371, 194, 5032, 5479],
             404: [81, 4165, 3156, 5251, 4381],
             405: [6282, 6244, 6439, 4205, 1404],
             406: [1946, 2403, 4312, 5801, 1879],

### Function to get the most important sentences in a news article based on their TF-IDF scores

In [257]:
# Function to get the most important sentences in a news article based on their TF-IDF scores
def get_sentences_by_indices(text, indices):
    sentences = text.split('. ')
    selected_sentences = []
    for j in indices:
        if j < len(sentences):
            selected_sentences.append(sentences[j])
    return '. '.join(selected_sentences)

### Generating summary of train data

In [258]:
# Generating summary of most important sentences from each news article based on their TF-IDF scores
train_summary = []

# Iterating over each document in the training data
for i in range(train_data.shape[0]):

    # Checking if the document index is in the list of indices with the highest TF-IDF scores
    if i in train_tfidf_ranked_indices:
        summary_indices = train_tfidf_ranked_indices[i]
        if(i in tdlist):
          summary = get_sentences_by_indices(train_data['content'][i], summary_indices)
          train_summary.append(summary)
    else:
        train_summary.append('')

### Test Data

In [259]:
test_data

,title,content,published_at,source,topic,cleaned_content
419,"The Godfather turns 50, The Offer trailer impr...",The world of Hollywood has been very exciting ...,2022-03-24T07:00:00Z,1,7,world hollywood excit today bring wrap trend h...
203,"BTS' V, his Wooga Squad friends take walk on b...",The video started with a view of the sea durin...,2022-07-09T07:00:00Z,2,14,video start view sea winter second long clip h...
478,BTS' Jungkook lashes out at a troll who asked ...,BTS Jungkook gave a hater the taste of his own...,2022-03-31T07:00:00Z,1,10,bt jungkook gave hater tast medicin onlin user...
112,BTS: Jungkook makes STAGGERING record on Spoti...,BTS' Golden Maknae Jungkook has has quite the ...,2022-12-29T10:06:31Z,1,1,bt golden makna jungkook quit year solo stay a...
576,NCT 127 announces repackaged album Ay-Yo: Here...,SM Entertainment recently confirmed the comeba...,2023-01-06T14:06:59Z,3,9,sm entertain recent confirm comeback date nct ...
...,...,...,...,...,...,...
526,Krackdown: Bicycle by BTS’ RM on World Bicycle...,BTS’ RM has time and again shown his love for ...,2022-06-03T07:00:00Z,3,13,bt rm time shown love ride bicycl much went ah...
107,BTS: SUGA aka Min Yoongi reveals how RM reacte...,BTS members RM aka Kim Namjoon and SUGA had th...,2022-12-05T08:00:00Z,1,11,bt member rm aka kim namjoon suga telecast suc...
442,BTS x KGF 2 fan combines the Bangtan Boys with...,BTS fans in India are next level pros when it ...,2022-04-19T07:00:00Z,1,1,bt fan india next level pro come edit yash kgf...
147,BTS' V reacts as Choi Woo-shik asks 'how do yo...,The new clip started with Peakboy brewing coff...,2022-07-26T07:00:00Z,2,14,new clip start peakboy brew coffe everyon earl...
329,BTS PTD on Stage Las Vegas day 2: Jin and Suga...,"During the concert on the second day, Jin, who...",2022-04-10T07:00:00Z,2,11,concert second day jin recent underw surgeri s...

### List of indexes of test data

In [260]:
tslist=list(test_data.index.values)
print(tslist)

[419, 203, 478, 112, 576, 541, 503, 228, 138, 268, 201, 692, 117, 154, 134, 517, 615, 392, 423, 410, 161, 763, 207, 157, 276, 197, 696, 564, 408, 257, 583, 248, 74, 434, 454, 253, 158, 324, 284, 661, 422, 640, 95, 430, 309, 19, 371, 24, 334, 196, 690, 748, 671, 195, 167, 521, 497, 663, 178, 710, 461, 368, 139, 211, 59, 22, 26, 654, 29, 143, 401, 93, 580, 680, 738, 153, 526, 107, 442, 147, 329]

### Vectorization of Test Data using TF-IDF

In [261]:
tfidf_vectorizer = TfidfVectorizer(min_df=1,max_df=5)

# Vectorizing cleaned content of test data using fit_transform()
test_tfidf = vectorizer.fit_transform(test_data['cleaned_content'])

### Generation of new content in Test Data 
### (Removal of insignificant words)

In [262]:
# Creating final result dataframe
# Columns would be Original Content, New Content, Removed Lines, BLEU Score and Cosine Similarity
result = pd.DataFrame(columns=['Original Content', 'New Content', 'Removed Lines','BLEU Score', 'Cosine Similarity'])

# Iterating through test data
for i in tslist:
  original_content = test_data['content'][i]
  copy_original=original_content

  # Lowercase all words
  original_content = original_content.lower()

  # Tokenizing words
  words = word_tokenize(original_content)

  # Removing stopwords
  stop_words = set(stopwords.words('english'))
  filtered_words = [word for word in words if not word in stop_words]

  # Rejoining filtered words into sentences
  filtered_sentences = []
  for sentence in sent_tokenize(original_content):
      sentence_words = word_tokenize(sentence.lower())
      filtered_sentence_words = [word for word in sentence_words if not word in stop_words]
      filtered_sentence = ' '.join(filtered_sentence_words)
      filtered_sentences.append(filtered_sentence)

  # Using TfidfVectorizer to get important words and scores
  if len(filtered_sentences) > 1:
      tfidf_vectorizer = TfidfVectorizer(use_idf=True)
      tfidf_vectorizer_vectors = tfidf_vectorizer.fit_transform(filtered_sentences)

      # Getting sum of tf-idf scores for each sentence
      sums = tfidf_vectorizer_vectors.sum(axis=1)

      # Getting the sentence with the highest score
      max_score = max(sums)
      max_score_index = sums.tolist().index(max_score)

      # Geting the top 10 sentences with highest score
      ranked_sentences = sorted(((sums[i],s) for i,s in enumerate(filtered_sentences)), reverse=True)
      top_sentences = [ranked_sentences[i][1] for i in range(min(10, len(ranked_sentences)))]

      # Joining the top sentences to create the new content
      new_content = " ".join(top_sentences)
  else:
      new_content = filtered_sentences[0]

  # print("\nOriginal Content:\n", original_content)
  # print("\nNew Content:\n", new_content)

  # Removed lines
  removed_lines = original_content.replace(new_content, '')

  result.at[i,'Original Content']= copy_original
  result.at[i,'New Content']= new_content
  result.at[i,'Removed Lines']= removed_lines

## Further Metrics

### BLEU Score Calculation

In [263]:
# Importing sentence_bleu from NLTK
from nltk.translate.bleu_score import sentence_bleu

# BLEU Score calculation
for i in tslist:
  reference = [test_data['content'][i].split()]
  candidate = result['New Content'][i].split()
  weights = (1.0/1.0,)
  bleu_score = sentence_bleu(reference, candidate, weights)
  result.at[i,'BLEU Score']= bleu_score

### Cosine Similarity Calculation using TF-IDF

In [264]:
# Cosine Similarity calculation
for i in tslist:
  tfidf_vectorizer = TfidfVectorizer()
  tfidf_vectorizer_vectors = tfidf_vectorizer.fit_transform([test_data['content'][i], result['New Content'][i]])
  cosine_similarity = ((tfidf_vectorizer_vectors * tfidf_vectorizer_vectors.T).A)[0,1]
  result.at[i,'Cosine Similarity']= cosine_similarity

### Result Dataframe

In [265]:
result.head()

,Original Content,New Content,Removed Lines,BLEU Score,Cosine Similarity
419,The world of Hollywood has been very exciting ...,j-hope aka jung hoseok tests positive covid-19...,the world of hollywood has been very exciting ...,0.270011,0.349926
203,The video started with a view of the sea durin...,"30-second long clip , hyung-sik seen running t...",the video started with a view of the sea durin...,0.136006,0.263688
478,BTS Jungkook gave a hater the taste of his own...,"currently quarantine us recently , k-pop super...",bts jungkook gave a hater the taste of his own...,0.235473,0.404352
112,BTS' Golden Maknae Jungkook has has quite the ...,"well , army cloud nine jungkook two songs top ...",bts' golden maknae jungkook has has quite the ...,0.178008,0.411889
576,SM Entertainment recently confirmed the comeba...,sm entertainment recently confirmed comeback d...,sm entertainment recently confirmed the comeba...,0.404279,0.456806